<div class="region-we-mega-menu">
	<a class="navbar-toggle collapsed">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</a>
	<nav {{ attributes }}>
	  <div class="container-fluid">
	    {{ content }}
	  </div>
	</nav>
</div>