// ====================
// Skin Blue: #2a5caa
// ---
nav[data-style="Blue"] {
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	@media (min-width: $tablet-ht) {
		.we-mega-menu-ul {

			>.we-mega-menu-li>a.we-mega-menu-li,
			>.we-mega-menu-li>.we-megamenu-nolink {
				color: $body-color;
				border-color: $border-color;
				background-color: $link-color;
			}

			.dropdown-menu {

				>a,
				>span {
					&:after {
						@include opacity(1);
					}

					&:hover,
					&:focus {}
				}

				.dropdown-menu>a,
				.dropdown-menu>span {
					&:before {
						@include opacity(1);
					}

					&:after {
						@include opacity(0);
					}

					&:hover,
					&:focus {
						&:after {
							border-top-color: $body-color;
						}
					}
				}

				&.hover>a,
				&.hover>span {
					&:after {
						@include opacity(0);
					}
				}
			}

			.selected {
				>a:after {
					@include opacity(0);
				}
			}
		}

		.we-mega-menu-submenu {

			li.we-mega-menu-li a,
			li.we-mega-menu-li span {
				color: $link-color;
			}
		}

		.navbar-we-mega-menu .we-mega-menu-submenu a i,
		.navbar-we-mega-menu .we-mega-menu-submenu span i {
			color: $bg-color;
		}

		// Front End
		body:not(.we-mega-menu-backend) & {
			background-color: $link-color;

			.type-of-block {
				color: darken($body-color, 15%);

				h2 {
					color: $white-color;
				}

				a {
					color: darken($body-color, 15%);

					&:hover,
					&:focus {
						color: $white-color;
					}
				}
			}

			.we-mega-menu-ul {
				>.we-mega-menu-li {
					border-left-color: darken($link-color, 5%);

					>a {

						&:hover,
						&:focus {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}

					&.active,
					&.active-trail {

						>a,
						>span {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				>.dropdown-menu {

					&:hover,
					&:focus {
						>a {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				.dropdown-menu .dropdown-menu>a,
				.dropdown-menu .dropdown-menu>span {
					&:before {
						@include opacity(0);
					}

					&:after {
						@include opacity(1);
					}
				}
			}

			.we-mega-menu-submenu {
				border-color: darken($link-color, 5%);
				background-color: darken($link-color, 5%);

				li.we-mega-menu-li a,
				li.we-mega-menu-li span {
					color: darken($body-color, 15%);
					border-bottom-color: rgba($body-color, .2);
				}

				li.we-mega-menu-li a {

					&:hover,
					&:focus {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}

				li.we-mega-menu-li.active {

					>a,
					>a:hover,
					>a:focus,
					>.we-megamenu-nolink {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}
			}
		}
	}
}

// ====================
// Skin Red: #b8323d
// ---
nav[data-style="Red"] {
	$link-color: $red;
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	@media (min-width: $tablet-ht) {
		.we-mega-menu-ul {

			>.we-mega-menu-li>a.we-mega-menu-li,
			>.we-mega-menu-li>.we-megamenu-nolink {
				color: $body-color;
				border-color: $border-color;
				background-color: $link-color;
			}

			.dropdown-menu {

				>a,
				>span {
					&:after {
						@include opacity(1);
					}

					&:hover,
					&:focus {}
				}

				.dropdown-menu>a,
				.dropdown-menu>span {
					&:before {
						@include opacity(1);
					}

					&:after {
						@include opacity(0);
					}

					&:hover,
					&:focus {
						&:after {
							border-top-color: $body-color;
						}
					}
				}

				&.hover>a,
				&.hover>span {
					&:after {
						@include opacity(0);
					}
				}
			}

			.selected {
				>a:after {
					@include opacity(0);
				}
			}
		}

		.we-mega-menu-submenu {

			li.we-mega-menu-li a,
			li.we-mega-menu-li span {
				color: $link-color;
			}
		}

		.navbar-we-mega-menu .we-mega-menu-submenu a i,
		.navbar-we-mega-menu .we-mega-menu-submenu span i {
			color: $bg-color;
		}

		// Front End
		body:not(.we-mega-menu-backend) & {
			background-color: $link-color;

			.type-of-block {
				color: darken($body-color, 15%);

				h2 {
					color: $white-color;
				}

				a {
					color: darken($body-color, 15%);

					&:hover,
					&:focus {
						color: $white-color;
					}
				}
			}

			.we-mega-menu-ul {
				>.we-mega-menu-li {
					border-left-color: darken($link-color, 5%);

					>a {

						&:hover,
						&:focus {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}

					&.active,
					&.active-trail {

						>a,
						>span {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				>.dropdown-menu {

					&:hover,
					&:focus {
						>a {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				.dropdown-menu .dropdown-menu>a,
				.dropdown-menu .dropdown-menu>span {
					&:before {
						@include opacity(0);
					}

					&:after {
						@include opacity(1);
					}
				}
			}

			.we-mega-menu-submenu {
				border-color: darken($link-color, 5%);
				background-color: darken($link-color, 5%);

				li.we-mega-menu-li a,
				li.we-mega-menu-li span {
					color: darken($body-color, 15%);
					border-bottom-color: rgba($body-color, .2);
				}

				li.we-mega-menu-li a {

					&:hover,
					&:focus {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}

				li.we-mega-menu-li.active {

					>a,
					>a:hover,
					>a:focus,
					>.we-megamenu-nolink {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}
			}
		}
	}
}

// ====================
// Skin Yellow: #e4bb25
// ---
nav[data-style="Yellow"] {
	$link-color: $yellow;
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	@media (min-width: $tablet-ht) {
		.we-mega-menu-ul {

			>.we-mega-menu-li>a.we-mega-menu-li,
			>.we-mega-menu-li>.we-megamenu-nolink {
				color: $body-color;
				border-color: $border-color;
				background-color: $link-color;
			}

			.dropdown-menu {

				>a,
				>span {
					&:after {
						@include opacity(1);
					}

					&:hover,
					&:focus {}
				}

				.dropdown-menu>a,
				.dropdown-menu>span {
					&:before {
						@include opacity(1);
					}

					&:after {
						@include opacity(0);
					}

					&:hover,
					&:focus {
						&:after {
							border-top-color: $body-color;
						}
					}
				}

				&.hover>a,
				&.hover>span {
					&:after {
						@include opacity(0);
					}
				}
			}

			.selected {
				>a:after {
					@include opacity(0);
				}
			}
		}

		.we-mega-menu-submenu {

			li.we-mega-menu-li a,
			li.we-mega-menu-li span {
				color: $link-color;
			}
		}

		.navbar-we-mega-menu .we-mega-menu-submenu a i,
		.navbar-we-mega-menu .we-mega-menu-submenu span i {
			color: $bg-color;
		}

		// Front End
		body:not(.we-mega-menu-backend) & {
			background-color: $link-color;

			.type-of-block {
				color: darken($body-color, 15%);

				h2 {
					color: $white-color;
				}

				a {
					color: darken($body-color, 15%);

					&:hover,
					&:focus {
						color: $white-color;
					}
				}
			}

			.we-mega-menu-ul {
				>.we-mega-menu-li {
					border-left-color: darken($link-color, 5%);

					>a {

						&:hover,
						&:focus {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}

					&.active,
					&.active-trail {

						>a,
						>span {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				>.dropdown-menu {

					&:hover,
					&:focus {
						>a {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				.dropdown-menu .dropdown-menu>a,
				.dropdown-menu .dropdown-menu>span {
					&:before {
						@include opacity(0);
					}

					&:after {
						@include opacity(1);
					}
				}
			}

			.we-mega-menu-submenu {
				border-color: darken($link-color, 5%);
				background-color: darken($link-color, 5%);

				li.we-mega-menu-li a,
				li.we-mega-menu-li span {
					color: darken($body-color, 15%);
					border-bottom-color: rgba($body-color, .2);
				}

				li.we-mega-menu-li a {

					&:hover,
					&:focus {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}

				li.we-mega-menu-li.active {

					>a,
					>a:hover,
					>a:focus,
					>.we-megamenu-nolink {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}
			}
		}
	}
}

// ====================
// Skin Green: #92b457
// ---
nav[data-style="Green"] {
	$link-color: $green;
	$body-color: $white-color;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	@media (min-width: $tablet-ht) {
		.we-mega-menu-ul {

			>.we-mega-menu-li>a.we-mega-menu-li,
			>.we-mega-menu-li>.we-megamenu-nolink {
				color: $body-color;
				border-color: $border-color;
				background-color: $link-color;
			}

			.dropdown-menu {

				>a,
				>span {
					&:after {
						@include opacity(1);
					}

					&:hover,
					&:focus {}
				}

				.dropdown-menu>a,
				.dropdown-menu>span {
					&:before {
						@include opacity(1);
					}

					&:after {
						@include opacity(0);
					}

					&:hover,
					&:focus {
						&:after {
							border-top-color: $body-color;
						}
					}
				}

				&.hover>a,
				&.hover>span {
					&:after {
						@include opacity(0);
					}
				}
			}

			.selected {
				>a:after {
					@include opacity(0);
				}
			}
		}

		.we-mega-menu-submenu {

			li.we-mega-menu-li a,
			li.we-mega-menu-li span {
				color: $link-color;
			}
		}

		.navbar-we-mega-menu .we-mega-menu-submenu a i,
		.navbar-we-mega-menu .we-mega-menu-submenu span i {
			color: $bg-color;
		}

		// Front End
		body:not(.we-mega-menu-backend) & {
			background-color: $link-color;

			.type-of-block {
				color: darken($body-color, 15%);

				h2 {
					color: $white-color;
				}

				a {
					color: darken($body-color, 15%);

					&:hover,
					&:focus {
						color: $white-color;
					}
				}
			}

			.we-mega-menu-ul {
				>.we-mega-menu-li {
					border-left-color: darken($link-color, 5%);

					>a {

						&:hover,
						&:focus {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}

					&.active,
					&.active-trail {

						>a,
						>span {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				>.dropdown-menu {

					&:hover,
					&:focus {
						>a {
							background-color: darken($link-color, 5%);
							color: $white-color;
						}
					}
				}

				.dropdown-menu .dropdown-menu>a,
				.dropdown-menu .dropdown-menu>span {
					&:before {
						@include opacity(0);
					}

					&:after {
						@include opacity(1);
					}
				}
			}

			.we-mega-menu-submenu {
				border-color: darken($link-color, 5%);
				background-color: darken($link-color, 5%);

				li.we-mega-menu-li a,
				li.we-mega-menu-li span {
					color: darken($body-color, 15%);
					border-bottom-color: rgba($body-color, .2);
				}

				li.we-mega-menu-li a {

					&:hover,
					&:focus {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}

				li.we-mega-menu-li.active {

					>a,
					>a:hover,
					>a:focus,
					>.we-megamenu-nolink {
						color: $white-color;
						// border-bottom-color: $white-color;
					}
				}
			}
		}
	}
}

// ====================
// Skin White: #eff0f1
// ---
nav[data-style="White"] {
	$link-color: $white1;
	$body-color: $darkgray;
	$border-color: darken($link-color, 10%);
	$bg-color: $link-color;

	@media (min-width: $tablet-ht) {
		.we-mega-menu-backend & {
			.we-mega-menu-ul {

				>.we-mega-menu-li>a.we-mega-menu-li,
				>.we-mega-menu-li>.we-megamenu-nolink {
					color: $body-color;
					border-color: $border-color;
					background-color: $link-color;
				}
			}
		}
	}
}

// ====================
// Animation: Fading
// ---
nav[data-animation="Fading"] {

	&:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
		@include animated;
		@include animation-name(fadeInFromNone);
	}
}

nav[data-animation="Slide"] {

	&:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
		@include animated;
		@include animation-name(slideInUp);
	}
}

nav[data-animation="Zoom"] {

	&:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
		@include animated;
		@include animation-name(zoomInUp);
		@include animation-duration(0.5s);
	}
}

nav[data-animation="Elastic"] {

	&:not(.click-action) .we-mega-menu-ul .we-mega-menu-li.dropdown-menu.open>.we-mega-menu-submenu,
	.we-mega-menu-ul .we-mega-menu-li.dropdown-menu.clicked>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):hover>.we-mega-menu-submenu,
	&:not(.admin) .we-mega-menu-ul .dropdown-menu:not(.clicked):focus>.we-mega-menu-submenu {
		@include animated;
		@include animation-name(bounceInUp);
		@include animation-duration(0.5s);
	}
}

// 991
@media (max-width: $tablet-ht - 1) {
	body {
		padding-left: 0;
		right: 0;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		position: relative;
		margin-right: 0;
	}

	body.toggled {
		right: 250px;

		.btn-close {
			@include opacity(1);
			visibility: visible;
			display: block;
		}

		// .navbar-toggle {
		// 	visibility: hidden;
		// }
	}

	.btn-close {
		@include opacity(0);
		visibility: hidden;
		display: none;
		@include border-radius(50%);
		background: #ccc;
		@include box-shadow(0 12px 27px rgba(0, 0, 0, 0.15));
		cursor: pointer;
		position: fixed;
		right: 270px;
		top: 15px;
		width: 48px;
		height: 48px;
		z-index: 1000;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		animation-fill-mode: both;
		animation-duration: 0.2s;
		animation-timing-function: ease-in-out;
		animation-name: fadeInFromNone;
		animation-delay: .5s;

		&:before,
		&:after {
			content: '';
			width: 22px;
			height: 2px;
			border-radius: 1px;
			background-color: $white-color;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -11px;
			@include rotate(0);
			@include transition(all 0.3s ease-in-out);
		}

		&:before {
			margin-top: -1px;
			transform: rotate(45deg);
		}

		&:after {
			margin-top: -1px;
			transform: rotate(-45deg);
		}
	}

	.region-we-mega-menu {
		background-color: #343a40;
		padding: 13px 15px;
		margin-bottom: 20px;
		@include border-radius(3px);
		@include display-flex;
		@include align-items(center);
		@include justify-content(flex-start);
	}

	.navbar-toggle {
		display: block;
		// background: #eff0f1;
		// border: 1px solid darken(#eff0f1, 5%);
		// box-shadow: 0 1px 3px rgba(0, 0, 0, .117647);
		z-index: 20;
		background: none;
		border: 0 none;
		box-shadow: none;
		display: inline-block;
		float: none;
		padding: 0;
		margin: 0;
		cursor: pointer;

		.icon-bar {
			background-color: #ffffff;
		}

		&:hover,
		&:focus {
			background: none;

			.icon-bar {
				background: darken(#ffffff, 8%);
			}
		}
	}

	.overlay {
		cursor: pointer;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		background-color: rgba(0, 0, 0, 0.2);
		width: 100%;
		height: 100%;
	}

	.nav {
		.open>a {
			background: none;

			&:hover,
			&:focus {
				background: none;
			}
		}
	}

	.navbar-we-mega-menu {
		.we-mega-menu-row {
			margin-left: 0;
			margin-right: 0;
			display: block;
			max-width: inherit;

			>* {
				display: block;
				margin-left: 0;
				margin-right: 0;
				max-width: inherit;
			}
		}

		.hidden-collapse {
			display: none !important;
		}

		.type-of-block {
			display: none;
		}
	}

	.we-mega-menu-submenu {
		width: auto !important;
	}

	.we-mega-menu-ul>.dropdown-menu {
		>.we-mega-menu-submenu {
			display: none;
		}
	}

	.navbar-we-mega-menu.navbar {
		background: #333;
		bottom: 0;
		display: none;
		height: 100%;
		overflow-y: auto;
		position: fixed;
		right: -250px;
		width: 250px;
		top: 0;
		z-index: 1000;
		transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		@include border-radius(0);
		border: 0 none;

		&.we-mobile-megamenu-active {
			right: 0;
			display: block;
			@include animation-fill-mode(both);
			@include animation-duration(0.5s);
			@include animation-timing-function(ease-in-out);
			@include animation-name(slideInRight);
		}

		.container,
		.container-fluid {
			padding: 0;
			position: static;
			width: auto;
		}

		.nav-tabs>li>a,
		.nav-tabs>li>.we-megamenu-nolink {
			@include border-radius(0);
			margin-right: 0;
			border: 0 none;
			position: relative;
		}

		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:focus,
		.nav-tabs>li.active>a:hover {
			color: white !important;
			background-color: #1a1a1a;
			cursor: default;
			border: 0 none;
			@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.05) inset);
			border-top: 1px solid rgba(0, 0, 0, 0.3);
		}

		.nav .open>a,
		.nav .open>a:focus,
		.nav .open>a:hover {
			color: white !important;
			background-color: #1a1a1a;
			cursor: default;
			border: 0 none;
			@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.05) inset);
			border-top: 1px solid rgba(0, 0, 0, 0.3);
		}

		.nav-tabs .nav-tabs>li>a,
		.nav-tabs .nav-tabs>li>.we-megamenu-nolink {
			border: 0 none;
			background-color: transparent;
			@include box-shadow(inherit);
		}

		.dropdown-menu {
			position: static;
			min-width: inherit;
			padding: 0;
			margin: 0;
			background-color: transparent;
			border: 0 none;
			@include box-shadow(inherit);
			@include border-radius(0);

			>a,
			>.we-megamenu-nolink {
				@include sizeRem(padding-right, 30px);

				&:after {
					content: '\f107';
					@include fontawesome;
					position: absolute;
					right: 15px;
					top: 50%;
					margin-top: -11px;
					font-size: 22px;
				}
			}

			&.active,
			&.active-trail {
				>.we-mega-menu-submenu {
					display: block;
				}
			}
		}

		.nav-tabs .dropdown-menu {
			margin-top: 0;
		}

		.we-mega-menu-ul {

			>li>a,
			>li>.we-megamenu-nolink {
				padding-left: 15px;
				padding-right: 15px;
				border-top: 1px solid rgba(0, 0, 0, 0.3);
				@include text-shadow(0 1px 0 rgba(0, 0, 0, 0.5));
				@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.05) inset);
			}
		}

		/* main-menu */
		ul {
			padding: 0;
			margin: 0;
			border: 0 none;

			a,
			.we-megamenu-nolink {
				display: block;
				color: #ccc;
				padding-left: 0;
				padding-right: 0;
				padding-top: 10px;
				padding-bottom: 10px;
				text-decoration: none;

				&:hover,
				&:focus {
					border-color: transparent;
					color: #ccc;
					background-color: transparent;
					border-top: 1px solid rgba(0, 0, 0, 0.3);
				}

				&.is-active {
					color: white;
					background-color: #1a1a1a;
				}
			}

			>li {
				// border-bottom: 1px solid #ddd;
				display: block;
				float: none;
				list-style: none;
				margin: 0;
				padding: 0;

				&:last-child {
					border-bottom: none;
				}

				ul {
					padding-left: 30px;
					padding-bottom: 10px;
					padding-top: 10px;

					li {
						border-bottom: 0;

						a,
						.we-megamenu-nolink {
							padding-left: 0;
							padding-right: 0;
							padding-top: 7px;
							padding-bottom: 7px;
							line-height: 1;
						}
					}
				}
			}

			.expanded {

				>a,
				>.we-megamenu-nolink {
					position: relative;

					&:before {
						// @include nucleo_glyph;
						// content: '\ea91';
						position: absolute;
						top: 50%;
						right: 0;
						width: 20px;
						height: 20px;
						margin-top: -10px;
						line-height: 1.3;
						text-align: right;
					}
				}
			}
		}
	}

	// end Mobile-menu
}