

[dir="rtl"] {
	.we-mega-menu-submenu li.we-mega-menu-li{
		float: none;
	}
	
	@media(min-width:992px){
		.we-mega-menu-submenu{
			left:auto;
			right:0;
		}
	}

	@media(max-width:991px){
		body{
			left:0;
			right:auto;
		}
		body.toggled{
			@include sizeRem(left, 250px);
			right:auto;
		}
		
		.navbar-we-mega-menu.navbar{
			@include sizeRem(left, -250px);
			right: auto;
			.dropdown-menu>a:after{
				right: auto;
				@include sizeRem(left,15px);
			}
			ul>li ul {
			    padding-left: 0;
			    @include sizeRem(padding-right, 30px);
			}
		}

		body.toggled .navbar-we-mega-menu.navbar {
		    right: auto;
		    left: 0;
		}
	}

}